
<div class="table-responsive border border-primary" id="entities" *ngIf="personalDetail">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.attribute">Attribute</span></th>
          <th scope="col"><span jhiTranslate="global.field.values">Values</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ 'jacApp.quote.application.firstname' | translate }}
          </td>
          <td>
              {{personalDetail.firstname}}
          </td>
        </tr>
        <tr>
          <td>
            {{ 'jacApp.quote.application.lastname' | translate }}
          </td>
          <td>
              {{personalDetail.lastname}}
          </td>
        </tr>
        <tr>
          <td>
              {{ 'jacApp.quote.application.email' | translate }}
          </td>
          <td>
              {{ personalDetail.email }}
          </td>
        </tr>
        <tr>
          <td>
              {{ 'jacApp.quote.application.phonenumber' | translate }}
          </td>
          <td>
              {{ personalDetail.phonenumber }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  