<div>
  <h2 id="page-heading" data-cy="EmissionRecordHeading">
    <span jhiTranslate="ecoTrackProApp.emissionRecord.home.title">Emission Records</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ecoTrackProApp.emissionRecord.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-emission-record"
        [routerLink]="['/emission-record/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ecoTrackProApp.emissionRecord.home.createLabel">Create a new Emission Record</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="emissionRecords?.length === 0">
    <span jhiTranslate="ecoTrackProApp.emissionRecord.home.notFound">No Emission Records found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="emissionRecords && emissionRecords.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="scope">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.emissionRecord.scope">Scope</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="carbonGrams">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.emissionRecord.carbonGrams">Carbon Grams</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateRecorded">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.emissionRecord.dateRecorded">Date Recorded</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="source">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.emissionRecord.source">Source</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notes">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.emissionRecord.notes">Notes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="verified">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.emissionRecord.verified">Verified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="product.name">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.emissionRecord.product">Product</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emissionRecord of emissionRecords; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/emission-record', emissionRecord.id, 'view']">{{ emissionRecord.id }}</a>
          </td>
          <td jhiTranslate="{{ 'ecoTrackProApp.Scope.' + emissionRecord.scope }}">{{ emissionRecord.scope }}</td>
          <td>{{ emissionRecord.carbonGrams }}</td>
          <td>{{ emissionRecord.dateRecorded | formatMediumDate }}</td>
          <td>{{ emissionRecord.source }}</td>
          <td>{{ emissionRecord.notes }}</td>
          <td>{{ emissionRecord.verified }}</td>
          <td>
            <div *ngIf="emissionRecord.product">
              <a [routerLink]="['/product', emissionRecord.product.id, 'view']">{{ emissionRecord.product.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/emission-record', emissionRecord.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/emission-record', emissionRecord.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(emissionRecord)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="emissionRecords && emissionRecords.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="itemsPerPage"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="navigateToPage($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
