<mat-nav-list>
    <ng-container *ngFor="let entry of menuItems">
        <a mat-list-item [routerLink]="entry.routerLink"
           [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="entry.routerLink ? 'grey-bg' : ''"
           (click)="entry.expanded = !entry.expanded">
            <div class="d-flex w-100">
                <mat-icon class="mr-2" [svgIcon]="entry.svgIcon">{{entry.icon}}</mat-icon>
                <span [jhiTranslate]="entry.title" class="flex-grow-1">{{entry.title}}</span>
                <mat-icon class="ml-1" *ngIf="entry.subEntries && entry.subEntries.length > 0">
                    {{ entry.expanded ? 'arrow_drop_up' : 'arrow_drop_down'}}
                </mat-icon>
            </div>
        </a>
        <div *ngIf="entry.expanded">
            <mat-nav-list *ngIf="entry.subEntries && entry.subEntries.length > 0" class="pt-0">
                <ng-container *ngFor="let subEntry of entry.subEntries">
                    <a mat-list-item [routerLink]="subEntry.routerLink" routerLinkActive="grey-bg"
                       [routerLinkActiveOptions]="{exact: true}">
                       <mat-icon class="mr-2 ml-3" [svgIcon]="entry.svgIcon">{{subEntry.icon}}</mat-icon>
                        <div class="pl-3">
                            <span [jhiTranslate]="subEntry.title">{{subEntry.title}}</span>
                        </div>
                    </a>
                </ng-container>
            </mat-nav-list>
        </div>
    </ng-container>
</mat-nav-list>
