@import '../../../content/scss/bootstrap-variables';
.alice {
  border: 1px solid $success;
  text-align: left;
  font-size: medium;
  margin-top: 3px;
  padding: 3px;
  margin-bottom: 3px;
  background-color: white;
  width: 80%;
  border-radius: 5px;
}

.customer {
  border: 1px solid $info;
  text-align: right;
  font-size: small;
  padding: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: whitesmoke;
  width: 80%;
  min-height: 20px;
  border-radius: 5px;
  float: right;
}

.close-btn {
  width: 20px;
  height: 20px;
  line-height: 6px;
  padding: 4px;
  margin: 10px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.text-small {
  font-size: small !important;
}

.text-medium {
  font-size: medium !important;
}

.chat-frame {
  position: fixed;
  right: 10px;
  bottom: -10px;
  width: 350px;
  height: 450px;
  z-index: 999;
}

.chat-btn {
  position: fixed;
  bottom: 20px;
  right: 10px;
  border-radius: 50%;
  z-index: 999;
  line-height: 80px;
  height: 80px;
  width: 80px;
}

.chat-box {
  overflow-y: auto;
}

.chat-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200, 255, 221, 0.3);
  box-shadow: inset 0 0 6px rgba(200, 255, 250, 0.3);
  border-radius: 4px;
  background-color: rgba(200, 255, 230, 0.3);
}

.chat-box::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(200, 250, 230, 0.3);
}

.chat-box::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(200, 255, 221, 0.3);
  box-shadow: inset 0 0 6px rgba(200, 255, 232, 0.3);
  background-color: rgba(200, 250, 200, 0.3);
}
