@import '../../../content/scss/bootstrap-variables';
.sidebar {
  width: 100%;
  max-height: 900px;
}

.sidebar-collapsed {
  width: 40px;
}

.sidebar-open {
  width: 280px;
}

.sidebar-item {
  width: 100%;
  margin: 2px;
  list-style: none;
}

.header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  height: 50px;
  text-align: center;
}

.header-up {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  text-align: center;
}

.header-down {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
  text-align: center;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.round-btn {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  line-height: 10%;
}

.highlight {
  background-color: $primary;
  color: $info;
  border: 1px solid $info;
  border-top-width: 1px;
}
