<mat-card>
    <mat-card-header>
        <h1>{{'password.title' | translate}}</h1>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="passwordForm" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{'global.form.email.label' | translate}}</mat-label>
                        <input matInput [placeholder]="'global.form.email.placeholder' | translate"
                               formControlName="email"/>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{'global.form.currentpassword.label' | translate}}</mat-label>
                        <input type="password" matInput
                               [placeholder]="'global.form.currentpassword.placeholder' | translate"
                               formControlName="currentPassword"/>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{'global.form.newpassword.label' | translate}}</mat-label>
                        <input type="password" matInput
                               [placeholder]="'global.form.newpassword.placeholder' | translate"
                               formControlName="newPassword"/>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{'global.form.confirmpassword.label' | translate}}</mat-label>
                        <input type="password" matInput
                               [placeholder]="'global.form.confirmpassword.placeholder' | translate"
                               formControlName="newPasswordRepeat"/>
                        <mat-error *ngIf="isInvalid(newPasswordRepeat)">
                            {{'global.messages.error.dontmatch' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button routerLink="/" type="button">
            {{'shared.button.cancel' | translate}}
        </button>
        <button type="button" mat-raised-button (click)="updatePassword()" color="primary">
            {{'shared.button.submit' | translate}}
        </button>
    </mat-card-actions>
</mat-card>
