<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span jhiTranslate="ecoTrackProApp.product.detail.title">Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.product.name">Name</span></dt>
        <dd>
          <span>{{ product.name }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.product.sku">Sku</span></dt>
        <dd>
          <span>{{ product.sku }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.product.description">Description</span></dt>
        <dd>
          <span>{{ product.description }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.product.category">Category</span></dt>
        <dd>
          <span>{{ product.category }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.product.unitOfMeasure">Unit Of Measure</span></dt>
        <dd>
          <span>{{ product.unitOfMeasure }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.product.totalCarbonFootprint">Total Carbon Footprint</span></dt>
        <dd>
          <span>{{ product.totalCarbonFootprint }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.product.createdDate">Created Date</span></dt>
        <dd>
          <span>{{ product.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.product.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
          <span>{{ product.lastModifiedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.product.supplier">Supplier</span></dt>
        <dd>
          <div *ngIf="product.supplier">
            <a [routerLink]="['/supplier', product.supplier.id, 'view']">{{ product.supplier.companyName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
