<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="emissionRecord">
      <h2 data-cy="emissionRecordDetailsHeading"><span jhiTranslate="ecoTrackProApp.emissionRecord.detail.title">Emission Record</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ emissionRecord.id }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.emissionRecord.scope">Scope</span></dt>
        <dd>
          <span jhiTranslate="{{ 'ecoTrackProApp.Scope.' + emissionRecord.scope }}">{{ emissionRecord.scope }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.emissionRecord.carbonGrams">Carbon Grams</span></dt>
        <dd>
          <span>{{ emissionRecord.carbonGrams }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.emissionRecord.dateRecorded">Date Recorded</span></dt>
        <dd>
          <span>{{ emissionRecord.dateRecorded | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.emissionRecord.source">Source</span></dt>
        <dd>
          <span>{{ emissionRecord.source }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.emissionRecord.product">Product</span></dt>
        <dd>
          <div *ngIf="emissionRecord.product">
            <a [routerLink]="['/product', emissionRecord.product.id, 'view']">{{ emissionRecord.product.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/emission-record', emissionRecord.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
