<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="supplier">
      <h2 data-cy="supplierDetailsHeading"><span jhiTranslate="ecoTrackProApp.supplier.detail.title">Supplier</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ supplier.id }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.supplier.companyName">Company Name</span></dt>
        <dd>
          <span>{{ supplier.companyName }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.supplier.contactEmail">Contact Email</span></dt>
        <dd>
          <span>{{ supplier.contactEmail }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.supplier.industry">Industry</span></dt>
        <dd>
          <span>{{ supplier.industry }}</span>
        </dd>
        <dt><span jhiTranslate="ecoTrackProApp.supplier.tier">Tier</span></dt>
        <dd>
          <span>{{ supplier.tier }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/supplier', supplier.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
