<h1 mat-dialog-title jhiTranslate="metrics.jvm.threads.dump.title">Threads dump</h1>
<div mat-dialog-content>
  <div class="mb-3">
    <mat-chip-listbox>
      <mat-chip-option (click)="threadStateFilter = undefined" selected>
        <fa-icon *ngIf="threadStateFilter === undefined" icon="check"></fa-icon>
        All&nbsp;<span class="badge rounded-pill bg-default">{{ threadDumpAll }}</span>
      </mat-chip-option>

      <mat-chip-option (click)="threadStateFilter = ThreadState.Runnable" color="primary">
        <fa-icon *ngIf="threadStateFilter === ThreadState.Runnable" icon="check"></fa-icon>
        Runnable&nbsp;<span class="badge rounded-pill bg-default">{{ threadDumpRunnable }}</span>
      </mat-chip-option>

      <mat-chip-option (click)="threadStateFilter = ThreadState.Waiting" color="accent">
        <fa-icon *ngIf="threadStateFilter === ThreadState.Waiting" icon="check"></fa-icon>
        Waiting&nbsp;<span class="badge rounded-pill bg-default">{{ threadDumpWaiting }}</span>
      </mat-chip-option>

      <mat-chip-option (click)="threadStateFilter = ThreadState.TimedWaiting" color="warn">
        <fa-icon *ngIf="threadStateFilter === ThreadState.TimedWaiting" icon="check"></fa-icon>
        Timed Waiting&nbsp;<span class="badge rounded-pill bg-default">{{ threadDumpTimedWaiting }}</span>
      </mat-chip-option>

      <mat-chip-option (click)="threadStateFilter = ThreadState.Blocked" color="warn">
        <fa-icon *ngIf="threadStateFilter === ThreadState.Blocked" icon="check"></fa-icon>
        Blocked&nbsp;<span class="badge rounded-pill bg-default">{{ threadDumpBlocked }}</span>
      </mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div class="pad" *ngFor="let thread of getThreads()">
    <h6>
      <span class="badge" [ngClass]="getBadgeClass(thread.threadState)">{{ thread.threadState }}</span>

      &nbsp;{{ thread.threadName }} (ID {{ thread.threadId }})

      <a (click)="thread.showThreadDump = !thread.showThreadDump" href="javascript:void(0);">
        <span [hidden]="thread.showThreadDump" jhiTranslate="metrics.jvm.threads.dump.show">Show Stacktrace</span>
        <span [hidden]="!thread.showThreadDump" jhiTranslate="metrics.jvm.threads.dump.hide">Hide Stacktrace</span>
      </a>
    </h6>

    <mat-card [hidden]="!thread.showThreadDump">
      <mat-card-content>
        <div *ngFor="let st of thread.stackTrace" class="break">
          <samp
            >{{ st.className }}.{{ st.methodName }}(<code>{{ st.fileName }}:{{ st.lineNumber }}</code
            >)</samp
          >
          <span class="mt-1"></span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-md-3">
            <span jhiTranslate="metrics.jvm.threads.dump.blockedtime">Blocked Time</span>: {{ thread.blockedTime }}
          </div>
          <div class="col-md-3">
            <span jhiTranslate="metrics.jvm.threads.dump.blockedcount">Blocked Count</span>: {{ thread.blockedCount }}
          </div>
          <div class="col-md-3"><span jhiTranslate="metrics.jvm.threads.dump.waitedtime">Waited Time</span>: {{ thread.waitedTime }}</div>
          <div class="col-md-3">
            <span jhiTranslate="metrics.jvm.threads.dump.waitedcount">Waited Count</span>: {{ thread.waitedCount }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" title="{{ thread.lockName }}">
            <span jhiTranslate="metrics.jvm.threads.dump.lockname">Lock name</span>: <code>{{ thread.lockName }}</code>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dismiss()">Done</button>
</div>
