<div>
  <h2 id="page-heading" data-cy="SupplierHeading">
    <span jhiTranslate="ecoTrackProApp.supplier.home.title">Suppliers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ecoTrackProApp.supplier.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-supplier"
        [routerLink]="['/supplier/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ecoTrackProApp.supplier.home.createLabel">Create a new Supplier</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="suppliers?.length === 0">
    <span jhiTranslate="ecoTrackProApp.supplier.home.notFound">No Suppliers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="suppliers && suppliers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyName">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.supplier.companyName">Company Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contactEmail">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.supplier.contactEmail">Contact Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="industry">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.supplier.industry">Industry</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tier">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.supplier.tier">Tier</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.supplier.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.supplier.phone">Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="website">
            <div class="d-flex">
              <span jhiTranslate="ecoTrackProApp.supplier.website">Website</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/supplier', supplier.id, 'view']">{{ supplier.id }}</a>
          </td>
          <td>{{ supplier.companyName }}</td>
          <td>{{ supplier.contactEmail }}</td>
          <td>{{ supplier.industry }}</td>
          <td>{{ supplier.tier }}</td>
          <td>{{ supplier.address }}</td>
          <td>{{ supplier.phone }}</td>
          <td>{{ supplier.website }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/supplier', supplier.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/supplier', supplier.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(supplier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="suppliers && suppliers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="itemsPerPage"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="navigateToPage($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
