<ng-container>
    <a class="link-unstyled" mat-button [matMenuTriggerFor]="adminMenu">
        <mat-icon class="mr-1">settings</mat-icon>
        <mat-icon>arrow_drop_down</mat-icon>
    </a>
    <mat-menu #adminMenu="matMenu">
        <a mat-menu-item routerLink="admin/gateway" routerLinkActive="active">
            <span jhiTranslate="global.menu.admin.gateway">Gateway</span>
        </a>

        <a mat-menu-item routerLink="admin/user-management" routerLinkActive="active">
            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
        </a>

        <a mat-menu-item routerLink="admin/tracker" routerLinkActive="active">
            <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
        </a>

        <a mat-menu-item routerLink="admin/metrics" routerLinkActive="active">
            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
        </a>

        <a mat-menu-item routerLink="admin/health" routerLinkActive="active">
            <span jhiTranslate="global.menu.admin.health">Health</span>
        </a>

        <a mat-menu-item routerLink="admin/configuration" routerLinkActive="active">
            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
        </a>

        <a mat-menu-item routerLink="admin/audits" routerLinkActive="active">
            <span jhiTranslate="global.menu.admin.audits">Audits</span>
        </a>

        <a mat-menu-item routerLink="admin/logs" routerLinkActive="active">
            <span jhiTranslate="global.menu.admin.logs">Logs</span>
        </a>

        <ng-container *ngIf="swaggerEnabled">
            <a mat-menu-item routerLink="admin/docs" routerLinkActive="active">
                <span jhiTranslate="global.menu.admin.apidocs">API</span>
            </a>
        </ng-container>
    </mat-menu>
</ng-container>

