<h1 mat-dialog-title id="showHealthLabel" *ngIf="health">
  {{ 'health.indicator.' + health.key | translate }}
</h1>

<div mat-dialog-content class="pad">
  <div *ngIf="health">
    <h5 jhiTranslate="health.details.properties">Properties</h5>

    <div class="table-responsive">
      <table class="table table-striped" aria-describedby="showHealthLabel">
        <thead>
          <tr>
            <th scope="col" class="text-start" jhiTranslate="health.details.name">Name</th>
            <th scope="col" class="text-start" jhiTranslate="health.details.value">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let healthDetail of health.value.details! | keyvalue">
            <td class="text-start">{{ healthDetail.key }}</td>
            <td class="text-start">{{ readableValue(healthDetail.value) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="dismiss()">Done</button>
</div>
