<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-supplier-heading" data-cy="SupplierCreateUpdateHeading" jhiTranslate="ecoTrackProApp.supplier.home.createOrEditLabel">
        Create or edit a Supplier
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecoTrackProApp.supplier.companyName" for="field_companyName">Company Name</label>
          <input
            type="text"
            class="form-control"
            name="companyName"
            id="field_companyName"
            data-cy="companyName"
            formControlName="companyName"
          />
          <div *ngIf="editForm.get('companyName')!.invalid && (editForm.get('companyName')!.dirty || editForm.get('companyName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('companyName')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecoTrackProApp.supplier.contactEmail" for="field_contactEmail">Contact Email</label>
          <input
            type="text"
            class="form-control"
            name="contactEmail"
            id="field_contactEmail"
            data-cy="contactEmail"
            formControlName="contactEmail"
          />
          <div
            *ngIf="editForm.get('contactEmail')!.invalid && (editForm.get('contactEmail')!.dirty || editForm.get('contactEmail')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('contactEmail')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecoTrackProApp.supplier.industry" for="field_industry">Industry</label>
          <input type="text" class="form-control" name="industry" id="field_industry" data-cy="industry" formControlName="industry" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecoTrackProApp.supplier.tier" for="field_tier">Tier</label>
          <input type="number" class="form-control" name="tier" id="field_tier" data-cy="tier" formControlName="tier" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
