version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.6
    command: start-dev --import-realm
    volumes:
      - ./realm-config:/opt/keycloak/data/import
    environment:
      - KC_DB=postgres
      - KC_DB_URL_HOST=keycloak-db
      - KC_DB_URL_DATABASE=keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=password
      - KC_HTTP_ENABLED=true
      - KC_HTTP_PORT=9080
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - '9080:9080'
    depends_on:
      - keycloak-db

  keycloak-db:
    image: postgres:14.5
    volumes:
      - keycloak_postgresql_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=password
    ports:
      - '5433:5432'

volumes:
  keycloak_postgresql_data: {}
