<div class="table-responsive border border-primary" id="entities" *ngIf="motorVehicle">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.attribute">Attribute</span></th>
          <th scope="col"><span jhiTranslate="global.field.values">Values</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ 'jacApp.quote.service.vehicle.value' | translate }}
          </td>
          <td>
            <span>GH&cent;</span>  {{motorVehicle?.value | number}}
          </td>
        </tr>
        <tr>
          <td>
            {{ 'jacApp.quote.service.vehicle.duration' | translate }}
          </td>
          <td>
              {{motorVehicle?.duration}} {{motorVehicle?.durationType}}
          </td>
        </tr>
        <tr>
          <td>
              {{ 'jacApp.quote.service.vehicle.cover' | translate }}
          </td>
          <td>
              {{ motorVehicle?.coverType }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  