<a *ngIf="menuItem" class="d-flex justify-content-between list-group-item list-item text-black pr-2 pl-2" [ngStyle]="{'padding-left': (navigationDepth * 12) + 'px'}" (click)="onItemSelected(menuItem)" [ngClass]="{'active': menuItem.url ? router.isActive(menuItem.url, true): false, 'expanded': isExpanded}">
    <fa-icon [icon]="menuItem.icon" class="list-item-icon"></fa-icon>
    {{menuItem.name}}
    <span *ngIf="menuItem.subMenuItems && menuItem.subMenuItems.length">
        <span aria-hidden="true">
            <i class="arrow " [ngClass]="isExpanded ? 'down' : 'right'"></i>
        </span>
    </span>
</a>
<ul *ngIf="isExpanded && menuItem" class="list-group list-group-flush">
    <eco-menu *ngFor="let subMenuItem of menuItem.subMenuItems" [menuItem]="subMenuItem" [navigationDepth]="navigationDepth+1"></eco-menu>
</ul>
