@import '../../../content/scss/bootstrap-variables';
:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
  .list-item.active {
    color: chocolate;
    background-color: lightgoldenrodyellow;
  }
  &:hover,
  &:focus {
    > .list-item:not(.expanded) {
      color: chocolate;
      background-color: lightgoldenrodyellow;
    }
  }
}

.list-item {
  color: darkolivegreen;
  padding: 8px 0;
  display: flex;
  width: auto;
  .list-item-icon {
    margin-right: 40px;
  }
}

i {
  border: solid darkolivegreen;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  height: 12px;
  width: 12px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.round-btn {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  line-height: 10%;
}

.highlight {
  background-color: $primary;
  color: $info;
  border: 1px solid $info;
  border-top-width: 1px;
}

.expanded {
  color: chocolate;
  background-color: lightgoldenrodyellow;
  &:hover,
  &:focus {
    color: chocolate;
    background-color: lightgoldenrodyellow;
  }
}
