<form *ngIf="emissionRecord" name="deleteForm" (ngSubmit)="confirmDelete(emissionRecord.id!)">
  <h1 mat-dialog-title data-cy="emissionRecordDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h1>

  <div mat-dialog-content>
    <jhi-alert-error></jhi-alert-error>
    <p
      id="jhi-delete-emissionRecord-heading"
      jhiTranslate="ecoTrackProApp.emissionRecord.delete.question"
      [translateValues]="{ id: emissionRecord.id }"
    >
      Are you sure you want to delete Emission Record {{ emissionRecord.id }}?
    </p>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="jhi-confirm-delete-emissionRecord" data-cy="entityConfirmDeleteButton" mat-raised-button color="warn" type="submit">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
