<div class="d-flex flex-column h-100">
    <div class="d-flex justify-content-end p-3">
        <eco-language-menu></eco-language-menu>
    </div>
    <div class="d-flex justify-content-center h-100">
        <div class="d-flex align-self-center">
            <mat-card class="app-modal-form">
                <mat-card-content>
                    <div class="d-flex justify-content-center">
                        <h2>{{'auth.resetPassword.title' | translate}}</h2>
                    </div>
                    <form [formGroup]="passwordForm">
                        <div class="d-flex flex-sm-column">
                            <div class="p-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'auth.resetPassword.newPassword.label' | translate}}</mat-label>
                                    <mat-icon matPrefix>lock</mat-icon>
                                    <input type="password" matInput placeholder="Please enter new password"
                                           formControlName="newPassword">
                                </mat-form-field>
                            </div>
                            <div class="p-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'auth.resetPassword.repeatPassword' | translate}}</mat-label>
                                    <mat-icon matPrefix>lock</mat-icon>
                                    <input type="password" matInput placeholder="Please repeat new password"
                                           formControlName="newPasswordRepeat">
                                    <mat-error
                                        *ngIf="passwordForm.get('newPasswordRepeat')?.invalid">{{passwordRepeatError}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="p-2 text-right">
                                <a routerLink="/auth/login">{{'auth.resetPassword.login' | translate}}</a>
                            </div>

                            <div class="p-2">
                                <button mat-raised-button color="primary" (click)="activateAccount()"
                                        [disabled]="passwordForm.invalid">
                                    {{'auth.resetPassword.submit' | translate}}
                                </button>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
