<div class="card jh-card chat-frame" *ngIf="isToggleChat">
    <div class="card-header p-0 m-0 border-0">
        <h6 class="text-center">
            <span class="text-medium text-white">
                Customer Service Chat
            </span>
            <a (click)="toggleChat()" class="btn btn-primary close-btn">
                <fa-icon icon="ban" [fixedWidth]="true"></fa-icon>
                <span class="text-medium text-warning">
                    &times;
                </span>
            </a>
        </h6>
    </div>
    <div class="card-body text-info bg-white chat-box">
        <div class="table table-striped  table-responsive d-table" *ngIf="sender">
            <div *ngFor="let item of messages" [ngClass]="{'alice': item.email === sender, 'customer': item.email !== sender}">
                <span class="text-medium w-100">
                    {{item.message}}
                </span>
            </div>
        </div>
    </div>
    <div class="card-footer p-0">
        <form action="#" class="p-0 m-0" novalidate name="messageForm" role="form" (ngSubmit)="send()" #messageForm="ngForm">
            <textarea type="text" [(ngModel)]="message" name="message" class="form-control form-control-sm text-small w-100">
            {{message}}
            </textarea>
            <h4>
                <button type="button" (click)="send()" class="btn btn-sm btn-info float-right">send</button>
            </h4>
        </form>
    </div>
</div>
<!--
<div class="chat-btn text-center badge badge-info" *ngIf="!isToggleChat">
    <a class="bg-info text-warning chat-btn" (click)="toggleChat()">
        <fa-icon icon="comments" [fixedWidth]="true"></fa-icon>
        <span class="text-medium">Hello</span>
    </a>
</div>
-->
