/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('/content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}

.navbar fa-icon {
  margin-right: 5px;
  color: #fff;
}

.dropdown-item fa-icon {
  color: #333;
}
