<form *ngIf="productPassport" name="deleteForm" (ngSubmit)="confirmDelete(productPassport.id!)">
  <h1 mat-dialog-title data-cy="productPassportDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h1>

  <div mat-dialog-content>
    <jhi-alert-error></jhi-alert-error>
    <p
      id="jhi-delete-productPassport-heading"
      jhiTranslate="ecoTrackProApp.productPassport.delete.question"
      [translateValues]="{ id: productPassport.id }"
    >
      Are you sure you want to delete Product Passport {{ productPassport.id }}?
    </p>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="jhi-confirm-delete-productPassport" data-cy="entityConfirmDeleteButton" mat-raised-button color="warn" type="submit">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
