<ng-container>
    <a class="link-unstyled" mat-button [matMenuTriggerFor]="languageMenu">
        <mat-icon class="mr1">language</mat-icon>
        <span>{{selectedLang.toUpperCase()}}</span>
        <mat-icon>arrow_drop_down</mat-icon>
    </a>
    <mat-menu #languageMenu="matMenu">
        <ng-container *ngFor="let lang of languages">
            <a mat-menu-item (click)="changeLanguage(lang)">
                <span>{{ lang.toUpperCase() }}</span>
            </a>
        </ng-container>
    </mat-menu>
</ng-container>
