mat-toolbar {
  min-height: 64px;
  max-height: 64px;
}

.sidenav-container {
  height: calc(100% - 64px);
  height: -moz-calc(100% - 64px);
  height: -webkit-calc(100% - 64px);
  overflow-y: hidden;
}

.sidenav {
  width: 250px;
  height: 100%;
  overflow-y: hidden;
}

.sidenav-content {
  height: 100%;
  overflow-y: scroll;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.sidenav-logo {
  height: 30px;
}

.version-text {
  font-size: 10px;
}
