<mat-card class="app-modal-form">
  <mat-card-content>
    <div class="d-flex justify-content-center">
      <h2>{{'auth.forgotPassword.title' | translate}}</h2>
    </div>
    <form novalidate [formGroup]="forgotPasswordForm">
      <div class="d-flex flex-sm-column">
        <mat-form-field appearance="outline">
          <mat-label>{{'auth.forgotPassword.email.label' | translate}}</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input type="text" placeholder="Enter email" matInput formControlName="email">
        </mat-form-field>
        <div class="p-2 text-right">
          <a routerLink="/auth/login">{{'auth.forgotPassword.login' | translate}}</a>
        </div>

        <div class="p-2">
          <button type="button" mat-raised-button color="primary" class="w-100"
                  [disabled]="forgotPasswordForm.invalid" (click)="forgotPassword()">
            {{'shared.button.submit' | translate}}
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
