<form *ngIf="user" name="deleteForm" (ngSubmit)="confirmDelete(user.login!)">
  <h1 mat-dialog-title jhiTranslate="entity.delete.title">Confirm delete operation</h1>

  <div mat-dialog-content>
    <jhi-alert-error></jhi-alert-error>

    <p jhiTranslate="userManagement.delete.question" [translateValues]="{ login: user.login }">
      Are you sure you want to delete user {{ user.login }}?
    </p>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button mat-raised-button color="warn" type="submit">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
