<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-emission-record-heading"
        data-cy="EmissionRecordCreateUpdateHeading"
        jhiTranslate="ecoTrackProApp.emissionRecord.home.createOrEditLabel"
      >
        Create or edit a Emission Record
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecoTrackProApp.emissionRecord.scope" for="field_scope">Scope</label>
          <select class="form-control" name="scope" formControlName="scope" id="field_scope" data-cy="scope">
            <option [ngValue]="null">{{ 'ecoTrackProApp.Scope.null' | translate }}</option>
            <option *ngFor="let scope of scopeValues" [value]="scope">{{ 'ecoTrackProApp.Scope.' + scope | translate }}</option>
          </select>
          <div *ngIf="editForm.get('scope')!.invalid && (editForm.get('scope')!.dirty || editForm.get('scope')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('scope')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecoTrackProApp.emissionRecord.carbonGrams" for="field_carbonGrams">Carbon Grams</label>
          <input
            type="number"
            class="form-control"
            name="carbonGrams"
            id="field_carbonGrams"
            data-cy="carbonGrams"
            formControlName="carbonGrams"
          />
          <div *ngIf="editForm.get('carbonGrams')!.invalid && (editForm.get('carbonGrams')!.dirty || editForm.get('carbonGrams')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('carbonGrams')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('carbonGrams')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecoTrackProApp.emissionRecord.dateRecorded" for="field_dateRecorded">Date Recorded</label>
          <div class="input-group">
            <input
              id="field_dateRecorded"
              data-cy="dateRecorded"
              type="text"
              class="form-control"
              name="dateRecorded"
              ngbDatepicker
              #dateRecordedDp="ngbDatepicker"
              formControlName="dateRecorded"
            />
            <button type="button" class="btn btn-secondary" (click)="dateRecordedDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecoTrackProApp.emissionRecord.source" for="field_source">Source</label>
          <input type="text" class="form-control" name="source" id="field_source" data-cy="source" formControlName="source" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecoTrackProApp.emissionRecord.product" for="field_product">Product</label>
          <select
            class="form-control"
            id="field_product"
            data-cy="product"
            name="product"
            formControlName="product"
            [compareWith]="compareProduct"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="productOption" *ngFor="let productOption of productsSharedCollection">{{ productOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
