<div class="w-100 mt-1">
    <mat-toolbar color='primary'>
        <mat-toolbar-row class="w-100 justify-content-center text-center">
            <div class="col-md text-left">
                <div class="display-4">
                    <span id="user-management-page-heading" jhiTranslate="userManagement.home.title">Users</span>
                </div>
            </div>
            <div class="col-md-2">
                <button mat-raised-button type="submit" (click)="previousState()" class="btn btn-sm">
                    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="mat-elevation-z8 w-100 mt-1 bg-white">
                <div class="card jh-card bg-transparent">

                    <div class="card-header bg-transparent">
                        <h3 id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel">
                            Create or edit a User
                        </h3>
                    </div>

                    <div class="card-body" *ngIf="user">
                        <div class="form-row">
                            <div class="col-md-5">
                                <mat-form-field class="w-100">
                                    <input matInput formControlName="firstName" id="field_firstName">
                                    <mat-label>
                                        <span jhiTranslate="userManagement.firstName"></span>
                                    </mat-label>
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <mat-form-field class="w-100">
                                    <input matInput formControlName="lastName" id="field_lastName">
                                    <mat-label>
                                        <span jhiTranslate="userManagement.lastName"></span>
                                    </mat-label>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <mat-label>
                                            <span jhiTranslate="userManagement.profiles"></span>
                                        </mat-label>
                                        <mat-select name="authority" id="field_language" formControlName="authorities" multiple>
                                            <mat-option *ngFor="let authority of authorities" [value]="authority">
                                                {{ authority }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <mat-form-field class="w-100">
                                    <input matInput formControlName="email" id="field_email">
                                    <mat-label>
                                        <span jhiTranslate="userManagement.email"></span>
                                    </mat-label>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3" *ngIf="user.id !== undefined && user.email !== undefined">
                                <mat-slide-toggle id="field_Activated" color="primary" [disabled]="user.id === undefined ? 'disabled' : null" [checked]="user.activated === true" name="activated">
                                    <mat-label>
                                        <span jhiTranslate="userManagement.activated">Activated</span>
                                    </mat-label>
                                </mat-slide-toggle>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="w-100">
                                    <mat-label>
                                        <span jhiTranslate="userManagement.langKey"></span>
                                    </mat-label>
                                    <mat-select name="language" id="field_language" formControlName="langKey">
                                        <mat-option *ngFor="let language of languages" [value]="language">
                                            {{ language | findLanguageFromKey }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer bg-transparent text-right" *ngIf="user">
                        <button mat-raised-button type="button" class="btn btn-sm" (click)="previousState()">
                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>

                        <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-sm">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-8">
        <div class="mat-elevation-z8 w-100 mt-1 bg-white">
            <eco-change-user-password></eco-change-user-password>
        </div>
    </div>
</div>