<div class="w-100 mt-1">
    <mat-toolbar color='primary'>
        <mat-toolbar-row class="w-100 justify-content-center text-center">
            <div class="col-md text-left">
                <div class="display-4">
                    <span id="user-management-page-heading" jhiTranslate="userManagement.home.title">Users</span>
                </div>
            </div>
            <div class="col-md-2">
                <button id="jh-create-entity" mat-raised-button class="float-right jh-create-entity create-insurance"
                    [routerLink]="'new'">
                    <fa-icon icon="plus"></fa-icon>
                    <span jhiTranslate="userManagement.home.createLabel">Create a new User</span>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div class="mat-elevation-z8 w-100 mt-1">
    <table mat-table [dataSource]='dataSource' aria-label="Elements" matSort>

        <ng-container matColumnDef='email'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <span jhiTranslate="userManagement.email">Email</span>
            </th>
            <td mat-cell *matCellDef='let element'>
                <div class="row">
                    <div class="col-md-8 text-left">
                        {{element.email}}
                    </div>
                    <div class="col-md-4 text-left">
                        <mat-slide-toggle id="field_Activated" color="primary"
                            [disabled]="!currentAccount || currentAccount.id === element.id"
                            [checked]="element.activated === true" name="activated" (click)="toggle(element)">
                        </mat-slide-toggle>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef='langKey'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <span jhiTranslate="userManagement.langKey">Lang Key</span>
            </th>
            <td mat-cell *matCellDef='let element'>{{element.langKey}}</td>
        </ng-container>

        <ng-container matColumnDef='profiles'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <span jhiTranslate="userManagement.profiles">Profiles</span>
            </th>
            <td mat-cell *matCellDef='let element'>
                <div *ngFor="let authority of element.authorities">
                    <span class="badge badge-info">{{ authority }}</span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef='createdDate'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <span jhiTranslate="userManagement.createdDate">Created Date</span>
            </th>
            <td mat-cell *matCellDef='let element'>{{element.createdDate | date:'dd/MM/yy HH:mm' }}</td>
        </ng-container>

        <ng-container matColumnDef='lastModifiedBy'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span>
            </th>
            <td mat-cell *matCellDef='let element'>{{element.lastModifiedBy}}</td>
        </ng-container>

        <ng-container matColumnDef='lastModifiedDate'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span>
            </th>
            <td mat-cell *matCellDef='let element'>{{element.lastModifiedDate | date:'dd/MM/yy HH:mm' }}</td>
        </ng-container>

        <ng-container matColumnDef='actions'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef='let element' class="text-right">
                <div class="float-right">
                    <button mat-raised-button color="accent" type="submit" [routerLink]="[element.email, 'view']">
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline">View</span>
                    </button>

                    <button mat-raised-button color="primary" type="submit" [routerLink]="[element.email, 'edit']">
                        <fa-icon icon="pencil-alt"></fa-icon>
                        <span class="d-none d-md-inline">Edit</span>
                    </button>

                    <button mat-raised-button color="warn" type="submit" (click)='delete(element)'>
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline">Delete</span>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef='let row; columns: displayColumns;'></tr>
    </table>
</div>
<div>
    <mat-paginator [pageSize]="30" [pageSizeOptions]='[5,10,15,30,50]'></mat-paginator>
</div>

