<h4 jhiTranslate="metrics.jvm.threads.title">Threads</h4>

<span><span jhiTranslate="metrics.jvm.threads.runnable">Runnable</span> {{ threadStats.threadDumpRunnable }}</span>

<mat-progress-bar [value]="(threadStats.threadDumpRunnable * 100) / threadStats.threadDumpAll" color="primary"> </mat-progress-bar>
<span>{{ (threadStats.threadDumpRunnable * 100) / threadStats.threadDumpAll | number: '1.0-0' }}%</span>

<span><span jhiTranslate="metrics.jvm.threads.timedwaiting">Timed waiting</span> ({{ threadStats.threadDumpTimedWaiting }})</span>

<mat-progress-bar [value]="(threadStats.threadDumpTimedWaiting * 100) / threadStats.threadDumpAll" color="warn"> </mat-progress-bar>
<span>{{ (threadStats.threadDumpTimedWaiting * 100) / threadStats.threadDumpAll | number: '1.0-0' }}%</span>

<span><span jhiTranslate="metrics.jvm.threads.waiting">Waiting</span> ({{ threadStats.threadDumpWaiting }})</span>

<mat-progress-bar [value]="(threadStats.threadDumpWaiting * 100) / threadStats.threadDumpAll" color="warn"> </mat-progress-bar>
<span>{{ (threadStats.threadDumpWaiting * 100) / threadStats.threadDumpAll | number: '1.0-0' }}%</span>

<span><span jhiTranslate="metrics.jvm.threads.blocked">Blocked</span> ({{ threadStats.threadDumpBlocked }})</span>

<mat-progress-bar [value]="(threadStats.threadDumpBlocked * 100) / threadStats.threadDumpAll" color="primary"> </mat-progress-bar>
<span>{{ (threadStats.threadDumpBlocked * 100) / threadStats.threadDumpAll | number: '1.0-0' }}%</span>

<div>Total: {{ threadStats.threadDumpAll }}</div>

<button class="hand btn btn-primary btn-sm" (click)="open()" data-toggle="modal" data-target="#threadDump">
  <span>Expand</span>
</button>
