<a class="link-unstyled" mat-button [matMenuTriggerFor]="settingsMenu">
    <div class="inline-flex">
        <ngx-avatar [name]="(account?.firstName + ' ' + account?.lastName).trim()"
                    borderColor="#fff"
                    [src]="imageUrl"
                    [size]="30"
                    [bgColor]="'#555'">
        </ngx-avatar>
    </div>
</a>
<mat-menu #settingsMenu="matMenu">
    <!--Please add an icon to each menu item-->
    <a mat-menu-item routerLink="account">
        <span>{{'settings.account.view' | translate}}</span>
    </a>
    <a mat-menu-item routerLink="account/edit">
        <span>{{'settings.account.edit' | translate}}</span>
    </a>
    <a mat-menu-item routerLink="change-password">
        <span>{{'settings.account.change-password' | translate}}</span>
    </a>
    <a mat-menu-item (click)="logout()">
        <span>{{'auth.logout' | translate}}</span>
    </a>
</mat-menu>
